body , html{
  height: 100%;
  margin: 0; 
}

.create_item_area {
  width: 100%;
  max-width: 800px;  
  margin: 50px auto; 
  padding: 20px;
  background-color: rgb(235, 231, 231);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.1);
}

.create_item_area form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}